/* main.css */

/* main_visual */
ul.slide_wrap{
position: relative;
width: 100%;
height: 810px;
min-width: 1360px;
}
ul.slide_wrap > li.slide{
opacity: 0;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
ul.slide_wrap > li.slide.active{
opacity: 1;
z-index: 3;
}

ul.slide_wrap > li.slide > video{
width: 100%;
height: 100%;
object-fit: cover;  /* 영상 크기 설정은 object-fit!!! */
}

ul.slide_wrap > li.slide > p{
position: absolute;
left: 50%;
top: 200px;
transform: translateX(-50%);
font-size: 40px;
color: #fff;
text-align: center;
}

.slide_arr > a.btn_prev,a.btn_next{   /* btn prev, next 공통 설정 */
z-index: 10;
position: absolute; /* main_visual이 기준 */
top: 50%;
transform: translateY(-50%);
width: 30px;
height: 57px;
background: url(../images/slide_arr_btn.png) no-repeat 0 0;
text-indent: -9999px; overflow: hidden;
}
.slide_arr > a.btn_prev{
left: 30px;
}
.slide_arr > a.btn_next{
right: 30px;
background-position: -30px 0;
}

.slide_roll{
z-index: 10;
position: absolute;
left: 50%;
bottom: 30px;
transform: translateX(-50%);
}
.slide_roll > ul{
float: left;
}
.slide_roll > ul > li{
float: left;
padding: 0 5px;
}
.slide_roll > ul > li > a{
display: block;
width: 10px;
height: 10px;
border-radius: 50%;
background: #ccc;
text-indent: -9999px; overflow: hidden;
}
.slide_roll > ul > li.on > a{
background: #fff;
}

.slide_roll > a.btn_play{
float: left;
width: 9px;
height: 9px;
background: url(../images/slide_btn1.png) no-repeat 0 0;
margin-left: 5px;
text-indent: -9999px; overflow: hidden;
}
.slide_roll > a.btn_play.on{
background-position: -9px 0;
}


/* container */
#wrap > #container{width: 100%; background: url(../images/bg_newsroom.jpg) no-repeat 50% 629px;}

/* content1 */
.content1{position: relative;}
.content1 > h2{
font-size: 34px;
font-weight: bold;
text-align: center;
margin-bottom: 70px;
line-height: 1;
}
.content1 > ul{
height: 200px;
margin-bottom: 48px;
}
.content1 > ul > li{
float: left;
border-right: 1px solid #ccc;
}
.content1 > ul > li:first-child{
width: 229px;
margin-left: 55px;
}
.content1 > ul > li:nth-child(2){
width: 259px;
}
.content1 > ul > li:nth-child(3){
width: 249px;
}
.content1 > ul > li:last-child{
width: 322px;
border: none;
}

.content1 > ul > li > dl{
text-align: center;
padding-top: 75px;
}
.content1 > ul > li:first-child > dl{
background: url(../images/icon_aboutus_01.png) no-repeat 50% 0;
}
.content1 > ul > li:nth-child(2) > dl{
background: url(../images/icon_aboutus_02.png) no-repeat 50% 0;
}
.content1 > ul > li:nth-child(3) > dl{
background: url(../images/icon_aboutus_03.png) no-repeat 50% 0;
}
.content1 > ul > li:last-child > dl{
background: url(../images/icon_aboutus_04.png) no-repeat 50% 0;
}

.content1 > ul > li > dl > dt{
font-size: 18px;
font-weight: 600;
line-height: 64px;
}
.content1 > ul > li > dl > dd{
font-size: 26px;
line-height: 62px;
}
.content1 > ul > li > dl > dd > span{
font-size: 36px;
}

.content1 > p{
text-align: right;
}
.content1 > div > a{
display: block;
width: 180px;
height:45px;
margin: 0 auto;
background: #043285 url(../images/icon_btn_arrow_w.png) no-repeat 80% 50%;
color: #fff;
line-height: 45px;
text-indent: 43px;
}



/* content2: 뉴스룸 */
.content2{
position: relative;
}
.content2:after{
content: "";
display: block;
clear: both;
}

.content2 > h2{
font-size: 34px;
font-weight: bold;
text-align: center;
margin-bottom: 70px;
line-height: 1;
}
.content2 > ul{
position: relative;
width: 1113px;
height: 130px;
margin: 0 auto;
}
.content2 > ul > li{
position: relative;
float: left;
width: 210px;
/* height: 130px; */
margin-right: 90px;
}
.content2 > ul > li:last-child{
margin-right: 0;
}

.content2 > ul > li > a{
font-size: 16px;
font-weight: bold;
}
.content2 > ul > li > a:after{
content: "";
position: absolute;
top: 70px;
left: 0;
width: 100%;
height: 2px;
background: #ccc;
}

.content2 > ul > li > span{
position: absolute;
top: 90px;
left: 0;
}


.content2 > div.newsletter{
/* position: absolute; */
float: left;
left: 95px;
width: 550px;
height: 190px;
margin-top: 70px;
background: yellow url(../images/bg_newsletter.jpg) no-repeat 80% 0;
background-size: cover;
padding: 35px 30px;
box-sizing: border-box;
}
.content2 > div.newsletter > h3{
font-size: 23px;
font-weight: bold;
margin-bottom: 18px;
line-height: 1;
}
.content2 > div.newsletter > p{
margin-bottom: 18px;
}

.content2 > div.newsletter > ul > li{
float: left;
width: 150px;
height: 50px;
background: #fff url(../images/btn_arrow_ico_g.png) no-repeat 85% 50%;
margin-right: 20px;
}
.content2 > div.newsletter > ul > li > a{
line-height: 50px;
padding: 0 30px;
}

.content2 > div.socialchanner{
/* position: absolute; */
float: right;
right: 110px;
width: 550px;
height: 190px;
margin-top: 70px;
background-color:#fff;
padding: 35px 30px;
box-sizing: border-box;
}

.content2 > div.socialchanner > h3{
font-size: 23px;
font-weight: bold;
margin-bottom: 18px;
line-height: 1;   
}
.content2 > div.socialchanner > p{
margin-bottom: 10px;
}
.content2 > div.socialchanner > ul > li{
float: left;
width: 60px;
height: 60px;
border-radius: 50%;
background: gray;
margin-right: 40px;
background: url(../images/icon_social.png) no-repeat 0 0;
}
.content2 > div.socialchanner > ul > li:nth-child(2){
background-position: -60px 0;
}
.content2 > div.socialchanner > ul > li:nth-child(3){
background-position: -122px 0;
}
.content2 > div.socialchanner > ul > li:nth-child(4){
background-position: -184px 0;
}

.content2 > div.socialchanner > ul > li > a{
display: block;
text-indent: -9999px; overflow: hidden;
}



/* content3 */
.content3 > h2{
font-size: 34px;
font-weight: bold;
text-align: center;
margin-bottom: 45px;
line-height: 1;
color: #fff;
}

.content3:after{
content: "";
display: block;
clear: both;
}

.content3 > div{
position: relative;
width: 350px;
height: 570px;
float: left;
margin-right: 40px;
background: #fff url(../images/bg_product_01.jpg) no-repeat 0 0;
}
.content3 > div:nth-of-type(2){
background: #fff url(../images/bg_product_02.jpg) no-repeat 0 0;
}
.content3 > div:nth-of-type(3){
background: #fff url(../images/bg_product_03.jpg) no-repeat 0 0;
margin: 0;
}

.content3 > div > h3{
position: relative;
top: 220px;
left: 0;
font-size: 18px;
font-weight: bold;
color: #043285;
}
.content3 > div > p{
position: relative;
top: 230px;
left: 0;
}
.content3 > div > ul{
position: relative;
width: 100%;
top: 260px;
left: 0;
}
.content3 > div > ul > li{
height: 78px;
border-bottom: 1px solid #ccc;
line-height: 80px;
background: url(../images/btn_arrow_ico_g.png) no-repeat 99% 50%;
}
.content3 > div > ul > li:nth-of-type(1){
border-top: 2px solid #043285;
}

.content3 > div > ul > li > a{
font-size: 16px;
font-weight: bold;
}



/* sitemap */
.sitemap > ul{
width: 1140px;
position: relative;
margin: 60px auto 0;
}
.sitemap > ul:after{
content: "";
display: block;
clear: both;
}

.sitemap > ul > li{
float: left;
width: 228px;
line-height: 3;
font-size: 20px;
font-weight: bold;
}

.sitemap > ul > li > ul > li{
font-size: 16px;
font-weight: normal;
}



